{%- liquid
    assign box-collection-handle = product.metafields.custom.box_collection.value.handle
-%}


{%- for product in collections[box-collection-handle].products -%}
  {% unless product.tags contains productExcludeTag %}
    {%- comment -%} {% render 'box-product-card' %} {%- endcomment -%}
    <div class="col-lg-3 col-sm-6 my-3 mb-5 d-flex align-items-stretch justify-content-around">
        <div class="bundle-product">
            <div class="mb-4"><img src="{{ product.featured_image | img_url: 'medium' }}"></div>
            <div class="button-p-title-wrapper position-relative">
                <div class="card-title m-0 h6 text-left pb-1">
                <a class="product-link text-primary" role="product URL" href="javascript:void(0)">{{ product.title }}</a>
                </div>
                <div class="add-button-wrapper position-absolute w-100">
                <form id="product-bundle-{{ forloop.index }}">
                    <input type="hidden" id="id-{{ forloop.index }}" name="id" value="{{ product.variants.first.id }}">
                    <input type="hidden" id="title-{{ forloop.index }}" name="title" value="{{ product.title }}">
                    <input type="hidden" id="pimage-{{ forloop.index }}" name="pimage" value="{{ product.featured_image | img_url: 'medium' }}">
                    <input min="1" type="hidden" id="quantity-{{ forloop.index }}" name="quantity" value="1"/>
                    <button class="btn bg-primary text-white addboxbutton" onclick="bundleproductadd{{ forloop.index }}(event)">ADD TO BOX</button>
                </form>
                </div>
            </div>
        </div>
    </div>

<script>
    var bundleproductadd{{ forloop.index }} = (event) => {
        event.preventDefault();
        randomnumber = Math.floor((Math.random() * 999999) + 100);
        productid = document.getElementById('id-{{ forloop.index }}').value;
        producttitle = document.getElementById('title-{{ forloop.index }}').value;
        productimage = document.getElementById('pimage-{{ forloop.index }}').value;
        productquantity = document.getElementById('quantity-{{ forloop.index }}').value;
        productarray.push({
            "variant_id": productid,
            "title": producttitle,
            "quantity": productquantity,
            "variant_image": productimage,
            "randomno": randomnumber
        })
         productarraylength = productarray.length;
         arraylength = (productarray.length - 1);
         
         addboxbutton = document.getElementsByClassName('addboxbutton');

        document.querySelector('#square-box-' + productarraylength + ' span').innerHTML = `<img src="${productarray[arraylength].variant_image}"/><button class="icon-cross btn btn-secondary position-absolute right-0 top-0 p-1" onclick="removeproduct(${randomnumber}, ${arraylength}, event)">X</button>`;

         if (productarraylength==maxlength){
            console.log(productarraylength);
            for (i = 0; i < addboxbutton.length; i++) {
                console.log(productarraylength);
                addboxbutton[i].setAttribute("disabled", "true"); 
            }
         }
    }

    var removeproduct = (randomnumber, arraylength, e) =>{
        arrindex = productarray.indexOf(randomnumber);
        productarray.splice(arrindex, 1);
         document.querySelector('#square-box-' + (arraylength+1) + ' span').innerHTML = `${arraylength+1}`;
         console.log(productarray)
         for (i = 0; i < addboxbutton.length; i++) {
                console.log(productarraylength);
                addboxbutton[i].removeAttribute("disabled"); 
            }
    }
</script>

    {%- comment -%} {% render 'box-product-js' %} {%- endcomment -%}
  {% endunless %}
{%- endfor -%}