{%- liquid
    assign box-collection-handle = product.metafields.custom.box_collection.value.handle
-%}


{%- for product in collections[box-collection-handle].products -%}
  {% unless product.tags contains productExcludeTag %}
    {%- comment -%} {% render 'box-product-card' %} {%- endcomment -%}
    <div class="col-lg-3 col-sm-6 my-3 mb-5 d-flex align-items-stretch justify-content-around">
        <div class="bundle-product">
            <div class="mb-4"><img src="{{ product.featured_image | img_url: 'medium' }}"></div>
            <div class="button-p-title-wrapper position-relative">
                <div class="card-title m-0 h6 text-left pb-1">
                <a class="product-link text-primary" role="product URL" href="javascript:void(0)">{{ product.title }}</a>
                </div>
                <div class="add-button-wrapper position-absolute w-100">
                <form id="product-bundle-{{ forloop.index }}">
                    <input type="hidden" id="id-{{ forloop.index }}" name="id" value="{{ product.variants.first.id }}">
                    <input type="hidden" id="title-{{ forloop.index }}" name="title" value="{{ product.title }}">
                    <input type="hidden" id="pimage-{{ forloop.index }}" name="pimage" value="{{ product.featured_image | img_url: 'medium' }}">
                    <input min="1" type="hidden" id="quantity-{{ forloop.index }}" name="quantity" value="1"/>
                    <button class="btn bg-primary text-white addboxbutton" onclick="bundleproductadd{{ forloop.index }}(event)">ADD TO BOX</button>
                </form>
                </div>
            </div>
        </div>
    </div>

<script>

    productarray = [];
    
    addboxbutton = document.getElementsByClassName('addboxbutton');
    bundleaddtocart = document.getElementsByClassName('bundleaddtocart');
    bundleaddtocartfinal = document.getElementsByClassName('btn-add-cart-text');
    bundleprogress = document.getElementsByClassName('item-progress');

    var bundleproductadd{{ forloop.index }} = (e) => {
        e.preventDefault();
        randomnumber = Math.floor((Math.random() * 999999) + 100);
        productid = document.getElementById('id-{{ forloop.index }}').value;
        producttitle = document.getElementById('title-{{ forloop.index }}').value;
        productimage = document.getElementById('pimage-{{ forloop.index }}').value;
        productquantity = document.getElementById('quantity-{{ forloop.index }}').value;
        productarray.push({
            "variant_id": productid,
            "title": producttitle,
            "quantity": productquantity,
            "variant_image": productimage,
            "randomno": randomnumber
        })
   
        addproducttobundle();
        updatebundleproduct();
        
    }

    var removeproduct = (randomnumber, arraylength, e) =>{
        arrindex = productarray.map(function(e) {
                    return e.randomno;
                    }).indexOf(randomnumber);
        productarray.splice(arrindex, 1);
         console.log(productarray)
         for (i = 0; i < addboxbutton.length; i++) {
                console.log(productarraylength);
                addboxbutton[i].removeAttribute("disabled"); 
            }
            bundleaddtocart[0].setAttribute("disabled", "true");

        addproducttobundleempty();
        addproducttobundle();
        updatebundleproduct();
        
        
    }

    function addproducttobundleempty(){
        console.log('abc');
        noofitem = document.querySelectorAll('.square-box img').length;
        for (y = 1; y < (noofitem+1); y++) {
            console.log(y)
            document.querySelector('#square-box-' + y + ' span').innerHTML = `${y}`;
        }
    }

    function addproducttobundle(){
        
        productarraylength = productarray.length;
        arraylength = (productarray.length - 1);

        for (x = 0; x < productarray.length; x++) {
            console.log('xval ' + (x+1));
            document.querySelector('#square-box-' + (x+1) + ' span').innerHTML = `<img src="${productarray[x].variant_image}"/>
            <button type="button" class="icon-cross btn btn-secondary position-absolute right-0 top-0 p-1" onclick="removeproduct(${productarray[x].randomno}, ${x}, event)">X</button>
            <input type="hidden" name="properties[Bundle${x+1}]" value="${productarray[x].title}"/>`;
        }
    }



    function updatebundleproduct(){
        if (productarray.length==0) {
            bundleprogress[0].style.width= `0%`;
            bundleaddtocartfinal[0].innerHTML= `${initialbuttontext}`;
        }
        if (productarray.length>=1) {
            bundleprogress[0].style.width= `20%`;
            bundleaddtocartfinal[0].innerHTML= `${secondbuttontext} ${maxlength-productarray.length} MORE`;
        }
        if (productarray.length>=2) {
            bundleprogress[0].style.width= `40%`;
        }
        if (productarray.length>=(maxlength-3)) {
            bundleprogress[0].style.width= `60%`;
            bundleaddtocartfinal[0].innerHTML= `${thirdbuttontext} ${maxlength-productarray.length} TO GO`;
        } 
        if (productarray.length>=(maxlength-2)) {
            bundleprogress[0].style.width= `70%`;

        } 
        if (productarray.length>=(maxlength-1)) {
            bundleprogress[0].style.width= `90%`;

        } 
        if (productarray.length==maxlength){
        console.log(productarraylength);
        for (i = 0; i < addboxbutton.length; i++) {
            addboxbutton[i].setAttribute("disabled", "true"); 
        }
        bundleaddtocart[0].removeAttribute("disabled");
        bundleprogress[0].style.width= `100%`;
            bundleaddtocartfinal[0].innerHTML= `${finalbuttontext}`;

        
        }
    }

    
</script>

    {%- comment -%} {% render 'box-product-js' %} {%- endcomment -%}
  {% endunless %}
{%- endfor -%}