{%- liquid
    assign box-collection-handle = product.metafields.custom.box_collection.value.handle
-%}


{%- for product in collections[box-collection-handle].products -%}
  {% unless product.tags contains productExcludeTag %}
    {%- comment -%} {% render 'box-product-card' %} {%- endcomment -%}
    <div class="col-lg-3 col-sm-6 my-3 mb-5 d-flex align-items-stretch justify-content-around">
        <div class="bundle-product">
            <div class="mb-4"><img src="{{ product.featured_image | img_url: 'medium' }}"></div>
            <div class="button-p-title-wrapper position-relative">
                <div class="card-title m-0 h6 text-left pb-1">
                <a class="product-link text-primary" role="product URL" href="javascript:void(0)">{{ product.title }}</a>
                </div>
                <div class="add-button-wrapper position-absolute w-100">
                <form id="product-bundle-{{ forloop.index }}">
                    <input type="hidden" id="id-{{ forloop.index }}" name="id" value="{{product.variants.first.id }}">
                    <input min="1" type="hidden" id="quantity-{{ forloop.index }}" name="quantity" value="1"/>
                    <button class="btn bg-primary text-white" onclick="bundleproductadd{{ forloop.index }}(event)">ADD TO BOX</button>
                </form>
                </div>
            </div>
        </div>
    </div>
    {%- comment -%} {% render 'box-product-js' %} {%- endcomment -%}
    <script>
        var bundleproductadd{{ forloop.index }} = (e) => {
        e.preventDefault();
        var request = new XMLHttpRequest();
        var url = "/cart/add.js";
        request.open("POST", url, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.onreadystatechange = function() {
            if (request.readyState === 4 && request.status === 200) {
            var jsonData = JSON.parse(request.response);
            console.log(jsonData);
            maxlength = {{product.metafields.custom.no_of_box_items}};
            productarray.push({"variant_id":jsonData.variant_id, "title":jsonData.title, "featured_image":jsonData.featured_image.url, "price":jsonData.final_line_price, "quantity":jsonData.quantity} );
            console.log("product array - " + productarray)
            arraylength = (productarray.length - 1);
            arraylength2 = productarray.length;
                document.querySelector('#square-box-' + arraylength2 + ' span').innerHTML = `<img src="${productarray[arraylength].featured_image}"/>`;
            if (arraylength2==maxlength){
              document.querySelectorAll('.add-button-wrapper button').
            }
            }
        };
        var pid = document.getElementById("id-{{ forloop.index }}").value;
        var pqty = document.getElementById("quantity-{{ forloop.index }}").value;

        var data = JSON.stringify({"id": pid, "quantity": pqty});

        console.log("data " + data);
        request.send(data);
        }
    </script>
  {% endunless %}
{%- endfor -%}