<nav class="breadcrumbs breadcrumbs-funnel" role="navigation" aria-label="breadcrumbs">
    <ul class="breadcrumbs__list list-unstyled">
        <li class="breadcrumbs__item d-inline" >
          <a class="breadcrumbs__link text-uppercase active-step" href="#" data-nav_step="1">{{ 'subscription_funnel2.nav_step1' | t }}</a>
        </li>
        <li class="breadcrumbs__item d-inline">
            <a class="breadcrumbs__link text-uppercase" href="#" data-nav_step="2">{{ 'subscription_funnel2.nav_step2' | t }}</a>
        </li>
        <li class="breadcrumbs__item d-inline">
          <a class="breadcrumbs__link text-uppercase" href="#" data-nav_step="3">{{ 'subscription_funnel2.nav_step3' | t }}</a>
        </li>
        <li class="breadcrumbs__item d-inline">
          <a class="breadcrumbs__link text-uppercase" href="#" data-nav_step="4">{{ 'subscription_funnel2.nav_step4' | t }}</a>
        </li>
        <li class="breadcrumbs__item d-inline">
          <a class="breadcrumbs__link text-uppercase" href="#" data-nav_step="5">{{ 'subscription_funnel2.nav_step5' | t }}</a>
        </li>
        <li class="breadcrumbs__item d-inline">
          <a class="breadcrumbs__link text-uppercase" href="#" data-nav_step="6">{{ 'subscription_funnel2.nav_step6' | t }}</a>
        </li>
    </ul>
  </nav>