<div id="accordian-{{ section.id }}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>{{ section.settings.sectiontitle }}</h2>
        </div>
        <div class="section-content">
          <faq-accordian id="faq-accordian-{{ section.id }}">
            {% for block in section.blocks %}
              {% if block.settings.title != blank %}
                <div class="faqaccordian_container border-bottom py-3">
                  <div class="faqaccordian_toggle d-flex justify-content-between">
                    <h5 class="mb-0">{{ block.settings.title }}</h5>
                    <span class="icon-arrow-down"></span>
                  </div>
                  <div class="faqaccordian_toggle_content pt-3">{{ block.settings.answer }}</div>
                </div>
              {% endif %}
            {% endfor %}
          </faq-accordian>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "FAQ Accordian",
    "class": "dynamic-faq-accordian",
    "settings": [
		{
            "type": "text",
            "id": "sectiontitle",
            "label": "Section Title",
            "default": "FAQ"
        }
	],
    "blocks": [
        {
            "type": "question",
            "name": "FAQ",
            "settings": [
                {
                    "type": "richtext",
                    "id": "title",
                    "label": "Question"
                },
                {
                    "type": "richtext",
                    "id": "answer",
                    "label": "Answer"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "FAQ Accordian",
            "category": "Content"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}